* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  min-height: 100vh;
  width: 100vw;
  background: #ffc4dc;
  background: radial-gradient(circle,rgba(255, 196, 220, 1) 25%, rgba(182, 217, 252, 1) 100%);
  
}

form {

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(150, 222, 250, 0.671);
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;


    & button {

      border-radius: 7px;
      background-color: rgba(255, 182, 193, 0.699);
      border-color: #ff1493;
      padding: 7px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgb(255, 255, 255);
      font-size: 14px;

    }

    & button:hover {

      background-color: deeppink;
      color: black;
      cursor: pointer;
      padding: 9px;

    }

    & h1, p {

      text-align: center;
      color: rgb(255, 255, 255);
      font-style: oblique;
      font-weight: bolder;
    }

    & input {

      background-color: rgba(136, 212, 238, 0.89);
      border: 10px;
      border-color: cadetblue;
      border-radius: 5px;
      padding: 5px;

    }

}

.container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.volta button {

  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 0.5%;

  & img {

    height: 35px;
  }

}

.Links {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  gap: 50px;

}

.glow-on-hover {
  width: 300px;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(255, 182, 193, 0.699);  
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 30px;
  font-size: 20px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgba(255, 182, 193, 0.699);  
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 182, 193, 0.699);  
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {

  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }

}

.inicio {

  color: #fff;
  text-align: center;  

  & h1 {

    font-size: 70px;

  }

  & p {

  font-style: italic;
  font-size: 30px;

  }

}

.listaExibir {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 30px;
  justify-content: space-between;
  

  & .listar{

    background-color: rgba(250, 126, 188, 0.774);
    margin: 10px;

  }

  & p {

    padding: 5px;

  }



  & .botoes {



  }

}

.novadiv {

  justify-content: center;
  font-style: italic;
  text-align: center;
  padding-top: 30px;

  & h1 {

    color: #fff;

  }

}