form {

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 182, 193, 0.699);
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;
    
}